html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/***********************MEDIA QUERIES***********************/
/***********************COLORS & FONTS***********************/
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Medium.ttf");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Heavy.ttf");
  font-style: normal;
  font-weight: 900; }

.header__container, .head-line__container, .intro__container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 320px) {
    .header__container, .head-line__container, .intro__container {
      width: 100%;
      padding: 0 15px; } }
  @media (min-width: 767px) {
    .header__container, .head-line__container, .intro__container {
      width: 750px; } }
  @media (min-width: 1024px) {
    .header__container, .head-line__container, .intro__container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .header__container, .head-line__container, .intro__container {
      width: 1170px; } }

.page {
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 500;
  color: #4a4a4a;
  font-size: 18px; }
  .page__wrap {
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto; }

.btn {
  display: block;
  padding: 0;
  border: none;
  width: 261px;
  height: 50px;
  line-height: 47.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background: -webkit-gradient(linear, right top, left top, from(#fe9a8b), color-stop(41%, #fd868c), color-stop(73%, #f9748f), color-stop(73%, #f78ca0));
  background: -webkit-linear-gradient(right, #fe9a8b, #fd868c 41%, #f9748f 73%, #f78ca0);
  background: linear-gradient(to left, #fe9a8b, #fd868c 41%, #f9748f 73%, #f78ca0);
  border-radius: 100px;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  outline: none;
  cursor: pointer; }
  .btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    -webkit-box-shadow: 0 6px 23px 0 rgba(248, 116, 143, 0.51);
            box-shadow: 0 6px 23px 0 rgba(248, 116, 143, 0.51);
    z-index: -1;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .btn:active::after {
    -webkit-box-shadow: 0 3px 9px 0 rgba(248, 116, 143, 0.51);
            box-shadow: 0 3px 9px 0 rgba(248, 116, 143, 0.51); }
  .btn--header {
    border: 2px solid #f7879c;
    background: transparent;
    width: 205px;
    height: 40px;
    line-height: 40px;
    color: #4a4a4a;
    display: inline-block;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .btn--header::after {
      opacity: 0; }
    .btn--header:hover {
      background: -webkit-gradient(linear, right top, left top, from(#fe9a8b), color-stop(41%, #fd868c), color-stop(73%, #f9748f), color-stop(73%, #f78ca0));
      background: -webkit-linear-gradient(right, #fe9a8b, #fd868c 41%, #f9748f 73%, #f78ca0);
      background: linear-gradient(to left, #fe9a8b, #fd868c 41%, #f9748f 73%, #f78ca0);
      color: #fff; }
      .btn--header:hover::after {
        opacity: 1; }

.header {
  padding: 15px 0; }
  .header__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .header__logo, .header__btn {
    width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 3) + ( 40px * (3 - 1)));
    width: calc( (((100% - (40px * (12 - 1))) / 12) * 3) + ( 40px * (3 - 1))); }
  .header__btn {
    text-align: right; }
  .header-nav {
    line-height: 40px;
    margin: 0 -15px; }
    .header-nav__link {
      color: #4a4a4a;
      font-weight: 900; }
    .header-nav__item {
      display: inline-block;
      margin: 0 15px; }

.head-line {
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#9b23ea), to(#5f72bd));
  background: -webkit-linear-gradient(bottom, #9b23ea, #5f72bd);
  background: linear-gradient(to top, #9b23ea, #5f72bd);
  height: 70px;
  line-height: 70px; }
  .head-line__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .head-line-item__icon {
    margin-right: 7px; }
    .head-line-item__icon:before {
      background: -webkit-gradient(linear, right top, left top, from(#fe9a8b), color-stop(41%, #fd868c), color-stop(73%, #f9748f), color-stop(73%, #f78ca0));
      background: -webkit-linear-gradient(right, #fe9a8b, #fd868c 41%, #f9748f 73%, #f78ca0);
      background: linear-gradient(to left, #fe9a8b, #fd868c 41%, #f9748f 73%, #f78ca0);
      -webkit-background-clip: text;
      color: transparent; }

.intro {
  height: 600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: relative;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9b23ea), to(#5f72bd));
  background-image: -webkit-linear-gradient(bottom, #9b23ea, #5f72bd);
  background-image: linear-gradient(to top, #9b23ea, #5f72bd);
  z-index: 1; }
  .intro::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/intro.jpg");
    background-size: cover;
    z-index: -1;
    opacity: .41;
    mix-blend-mode: overlay; }
  .intro__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .intro__info {
    width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 9) + ( 40px * (9 - 1)));
    width: calc( (((100% - (40px * (12 - 1))) / 12) * 9) + ( 40px * (9 - 1))); }
  .intro__stat {
    width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 3) + ( 40px * (3 - 1)));
    width: calc( (((100% - (40px * (12 - 1))) / 12) * 3) + ( 40px * (3 - 1))); }
  .intro-info__text {
    line-height: 1.67;
    font-weight: 900;
    margin: 22px 0 65px; }
  .intro-stat {
    text-align: center;
    line-height: 1.4;
    margin-bottom: 40px; }
    .intro-stat__num {
      font-size: 48px; }
    .intro-stat > span {
      font-weight: 900;
      display: block; }

.title__text {
  font-size: 50px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 2.6px;
  text-transform: uppercase; }

.title::before {
  content: '';
  display: block;
  height: 10px;
  width: 60px;
  opacity: 0.5;
  border-radius: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#fe9a8b), color-stop(41%, #fd868c), color-stop(73%, #f9748f), color-stop(73%, #f78ca0));
  background: -webkit-linear-gradient(right, #fe9a8b, #fd868c 41%, #f9748f 73%, #f78ca0);
  background: linear-gradient(to left, #fe9a8b, #fd868c 41%, #f9748f 73%, #f78ca0); }
