include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include header/header
include head-line/head-line
include intro/intro
include title/title

doctype html
html(lang="ru")

	block head
		head
			+head({
				"title": "Workshop",
				"author": "Space Academy",
				"description": "Workshop"
			})
			
		+b.BODY.page
			+e.DIV.wrap
				block header
					+head-line()
					+header({
						"menu": [
							{
								"text": "Главная",
								"href": "index.html"
							},
							{
								"text": "О нас",
								"href": "index.html"
							},
							{
								"text": "Услуги",
								"href": "index.html"
							},
							{
								"text": "информация",
								"href": "index.html"
							},
							{
								"text": "Блог",
								"href": "index.html"
							},
							{
								"text": "Контакты",
								"href": "index.html"
							}
						]
					})
					
				block content
					div content

				block footer
					footer footer
				
			block vendors
				// build:js js/vendor.js
				script( src="libs/jquery/dist/jquery.min.js")
				// endbuild

			block scripts
				// build:js js/main.js
				script( src="js/main.js")
				// endbuild
