mixin intro()
  +b.SECTION.intro
    +e.DIV.container
      +e.DIV.info
        +b.DIV.intro-info
          +title({"text": "НАДЕЖНАЯ ТИПОГРАФИЯ СО СВОИМ ПРОИЗВОДСТВОМ"})
          +e.P.text Наша цель проста — предоставить нашим клиентам высокий уровень качества и сервиса. Мы верим, что отличные идеи начинаются с отличного дизайна и печати.
          +b.A.btn(href="###") Заявка на просчет
      +e.DIV.stat
        +b.DIV.intro-stat
          +e.SPAN.num 5
          |лет
          span работы
        +b.DIV.intro-stat
          +e.SPAN.num 2500
          |клиентов
        +b.DIV.intro-stat
          +e.SPAN.num 50
          |заказов
          span каждый день
