mixin head-line()
  +b.DIV.head-line
    +e.DIV.container
      +b.DIV.head-line-item
        +e.I.icon(class="mdi mdi-map-marker")
        |г. Киев, ул. Михайловская, 20
      +b.DIV.head-line-item
        +e.I.icon(class="mdi mdi-map-marker")
        |г. Киев, ул. Михайловская, 20
      +b.DIV.head-line-item
        +e.I.icon(class="mdi mdi-map-marker")
        |г. Киев, ул. Михайловская, 20
      +b.DIV.head-line-item
        +e.I.icon(class="mdi mdi-map-marker")
        |г. Киев, ул. Михайловская, 20
